.Banner {
    display: flex;
    justify-content: space-evenly;
    height: 300px;
    padding: 50px;
    width: 70%;
    border-radius: 20px;
    box-shadow: 0px 0px 30px 3px white;
    margin-top: 50px;

}

.Banner:hover {
    box-shadow: 0px 0px 40px 10px white;

}

.Banner img {
    margin: 30px;
    transition-duration: 0.5s;

}

.Banner img:hover {
    transform: translateY(-10px);
    transform: scale(120%);
    transition-duration: 0.5s;

}